
a {
    text-decoration: none!important;
    outline: none!important;
    color: #fff;
}

.header-font-style {
    padding-left: 3vmin;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3vmin;
}

.logout-font {
    font-family: 'Courier New', Courier, monospace;
}